# runtime requirements
dask
dask_jobqueue
distributed
numpy
scikit-learn
scipy
toolz  # apparently dask requires this

# optional for task graph vizualization
python-graphviz

# testing/dev requirements
pytest
pytest-cov
codecov
sphinx
flake8
